
*{
  margin:0;
  padding: 0;
}

html,body{
  width:100%;
  height: 100%;
  overflow: hidden;
}
body{
  display: flex;
  justify-content: flex-start;
}
.canvas{
  display: block;
  width:500px;
  height: 500px;
  margin-right: 20px;
  border:1px solid gray;
  flex-basis:1;
  flex-grow: 0;
  flex-shrink:0;
}
.left{
  height: 100%;
  overflow-y: scroll;
}